<!DOCTYPE html>
<html>
<head>
  <title>Spinboard</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  Welcome, <%= current_user.email_address %> | <%= link_to "Log out", logout_path %>
<% end %>

<% flash.each do |type, msg| %>
  <%= content_tag :div, msg, class: "flash_#{type}" %>
<% end %>

<%= yield %>

</body>
</html>
